{% extends 'base.twig' %}

{% block title %}

Contact

{% endblock %}

{% block navigation %}

		<nav>
			<div><a href="{{ url }}">Home</a></div>
			<div><a href="{{ url }}/index.php/about">About</a></div>
			<div><a href="{{ url }}/index.php/cv">CV</a></div>
			<div><a href="{{ url }}/index.php/contact" class="active">Contact</a></div>
			<div><a href="https://www.linkedin.com/in/anthony-barretti-95a57687/" class="image" target="_blank"><img src="/../imgs/linkedIn.png"
			width="75px"
			alt= "LinkedIn Logo"/></a></div>
			<div><a href="https://github.com/abarretti/" class="image" target="_blank"><img src="/../imgs/github.png"
			width= "75px"
			alt= "Github Logo"/></a></div>
		</nav>

{% endblock %}

{% block main %}

	<main class="contact">
		<figure class="left">
			<img src= "/../imgs/headShot.jpg" 
			alt= "Head Shot">
    	</figure>
    	<div class="right">
			<h2>Thank you again for visiting my site!</h2>
			<p>Please feel free to contact me at aebarretti87@gmail.com or send me a <a href="https://www.linkedin.com/in/anthony-barretti-95a57687/" target="_blank">LinkedIn</a> message!</p>
		</div>
		</main>

{% endblock %}