{% extends 'base.twig' %}

{% block title %}

Home

{% endblock %}

{% block navigation %}

		<nav>
			<div><a href="index.php?action=home" class="active">Home</a></div>
			<div><a href="index.php?action=about" >About</a></div><div><a href="index.php?action=cv">CV</a></div><div><a href="index.php?action=contact" >Contact</a></div>
			<div><a href="https://www.linkedin.com/in/anthony-barretti-95a57687/" class="image" target="_blank"><img src="imgs/linkedIn.png"
			width="75px"
			alt= "LinkedIn Logo"/></a></div>
			<div><a href="https://github.com/abarretti/" class="image" target="_blank"><img src="imgs/github.png"
			width= "75px"
			alt= "Github Logo"/></a></div>
		</nav>

{% endblock %}

{% block main %}

<main class="home">
		<figure class="left">
			<img src= "imgs/headShot.jpg" 
			alt= "Head Shot">
    	</figure>
    	<div class="right">
			<h2>Hi, I&#39;m Anthony! Welcome and thank you for visiting my site.</h2>
			<p>I am a motivated, multi-skilled Data Analytics and Software Engineering professional who is currently employed as a Product Manager within Wayfair&#39;s Data Integration team. My primary functions are to provide support, offer analysis and drive innovation pertaining to Wayfair&#39;s Electronic Data Interchange (EDI) platform. I also possess six years of proven experience providing data analytics, business intelligence, accounting and financial services support in diverse industries with corporate clients.</p>
			<p>I received my BS in Accounting from Rutgers University earning honors as an inductee of both Beta Alpha Psi and the National Society of Collegiate Scholars. Outside of the classroom, I served as President and Treasurer of my fraternity (Alpha Chi Rho). Following the completion of my undergraduate degree, I immediately matriculated into the Rutgers Graduate Business School and earned my Masters in Financial Accounting the following year. After five years of professional development providing accounting and financial services support, I entered the University of Oxford&#39;s Data and Systems Analysis program to enhance my Software Engineering and Data Science skill set.</p>
		</div>
		</main>

{% endblock %}